.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 7rem;
  width: 70vw;
  height: 80vh;
  margin: auto;
  margin-top: 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left {
  margin-top: 7vh;
}

.right {
  display: flex;
  margin-top: 20vh;
}

.left .p {
  color: rgb(163, 163, 163);
}

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    text-align: center;
    height: 70vh;
  }

  .right {
    display: flex;
    justify-content: center;
    position: relative;
    top: -73vh;
  }

  .right img {
    height: 50px;
  }

  .fmage {
    margin-top: 6rem;
  }
}
